body {
  background: #8bbdd7;
  font-family: "Poppins", sans-serif;
}

.img-fluid {
  max-width: 100%;
}

p {
  font-size: 18px;
}

.fiverr-link {
  text-decoration: none;
}

.logo {
  max-height: 25px;
}

.btn-dark {
  font-size: 20px;
}

#brand-photo {
  max-height: 250px;
  max-width: 300px;
  justify-content: center;
}

#web-photo {
  display: block;
  margin: auto;
  max-width: 500px;
}

.card-img-top {
  max-height: 500px;
}

.footer-text {
  font-size: 15px;
}

@media (max-width: 900px) {
  h1 {
    font-size: 30px;
    line-height: 2;
  }

  h5 {
    font-size: 18px;
  }

  p {
    font-size: 15px;
  }

  .main-logo {
    max-width: 130px;
    margin-left: 0px;
  }

  .footer-text {
    font-size: 13px;
  }

  #web-photo {
    max-width: 350px;
  }

  .nav-item {
    margin-left: 20px;
    font-size: 14px;
  }
}
