body {
  background: #8bbdd7;
  font-family: "Poppins", sans-serif;
}

.img-fluid {
  max-width: 100%;
}

p {
  font-size: 18px;
}

.fiverr-link {
  text-decoration: none;
}

.logo {
  max-height: 25px;
}

.btn-dark {
  font-size: 20px;
}

#brand-photo {
  max-height: 250px;
  max-width: 300px;
  justify-content: center;
}

#web-photo {
  display: block;
  margin: auto;
  max-width: 500px;
}

.card-img-top {
  max-height: 500px;
}
